<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.quezr.hqoj.mapper.ProblemMapper">

    <select id="getProblemList" resultType="top.quezr.hqoj.entity.Problem">
        select id, name, point, level, tags, `like`, unlike
        from problem
        <where>
            <if test="level!=null">
                level = #{level}
            </if>
            <if  test="tagSearch!=null">
                AND json_contains(tags->"$", '${tagSearch}')
            </if>
            <if test="lastId>0">
                AND id > #{lastId}
            </if>
        </where>
        limit
        <if test="lastId==0 and pageNumber!=0">
            #{pageNumber}*#{pageSize},
        </if>
        #{pageSize}
    </select>
</mapper>
