<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.quezr.hqoj.dao.mapper.RecordMapper">

    <select id="selectStateById" resultType="top.quezr.hqoj.enums.JudgeStauts">
        select state from record where id=#{id}
    </select>
    <select id="selectRecordPage" resultType="top.quezr.hqoj.entity.Record">
        select id, pid, uid, state, time, used_time, used_space, language_type
        from record
        where uid=#{userId}
        <if test="lastId>0">
            AND id > #{lastId}
        </if>
        limit
        <if test="lastId==0 and pageFrom!=0">
            #{pageFrom},
        </if>
        #{pageSize}
    </select>
    <select id="selectRecordPageTotalCount" resultType="java.lang.Integer">
        select count(*)
        from record
        where uid=#{userId}
    </select>
</mapper>
