<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.quezr.hqoj.dao.mapper.UserPassedMapper">

    <select id="selectUserPassedCount" resultType="java.lang.Integer">
        select count(*) as c from user_passed where user_id = #{userId} group by level;
    </select>
</mapper>
